@use '../custom' as *;

.btn-header {
    @include button-variant($primary, transparent, $secondary, darken($primary, 10%));

    // Because the bootstrap mixin is not working so do it manually
    background-color: $primary;
    border: none;
    color: $secondary;

    &:hover {
        background-color: darken($color: $primary, $amount: 10%);
        border: none;
        color: darken($color: $secondary, $amount: 10%);
    }

    @include button-size(1rem, 5rem, 2rem, 0);
    // Bootstrap Mixin is not working either so, do it manually
    padding: 1rem 5rem;
    font-size: 2rem;
    border-radius: 0;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-top: 1rem;

    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.boton-plan {
    @extend .btn-header;
    border: 1px $white solid;

    @include media-breakpoint-up(md) {
        display: block;
    }
}
